.nav-section {
  height: 850px;
}

.nav-section .bg-pattern {
  position: absolute;
  right: 0;
  height: 700px;
  width: 90%;
}

.video {
  position: absolute;
  height: 800px;
  width: 450px;
  margin-right: -50rem;
  margin-top: -15rem;
}

.image {
  position: absolute;
  margin-top: 25rem;
  width: 450px;
}